input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
  margin-top: 1.25rem; /* 2% */
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Accordion styles */
.tabs {
  border-radius: 0.5rem; /* 8px */
  overflow: hidden;
  box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5); /* 1px */
  width: 50%; /* Keeping percentage */
}
.tab {
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1rem; /* 1em */
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #2c3e50; /* darken by 10% */
}
.tab-label::after {
  content: "\276F";
  width: 1rem; /* 1em */
  height: 1rem; /* 1em */
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1rem; /* 1em */
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1rem; /* 1em */
  font-size: 0.75rem; /* 0.75em */
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #2c3e50; /* darken by 10% */
}

/* :checked */
input:checked + .tab-label {
  background: #2c3e50; /* darken by 10% */
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1rem; /* 1em */
}

@media (max-width: 768px) {
  .tabs {
    margin-top: 0.625rem; /* 10px */
    margin-right: 0.6875rem; /* 11px */
    width: 80%; /* Keeping percentage */
  }
  .tab-label {
    padding: 0.75rem; /* 12px */
    background-color: royalblue;
  }
}

@media (max-width: 480px) {
  /* Add styles here if needed */
}
