.calendar {
  margin: 1.25rem; /* 10% */
  display: flex;
  height: 85vh;
  justify-content: center;
  padding: 1.25rem; /* 20px */
  margin-top: 6.375rem; /* 12% */
  background-color: aliceblue;
  border-radius: 0.625rem; /* 10px */
  box-shadow: rgba(13, 28, 232, 0.24) 0 0.1875rem 0.5rem; /* 3px 8px */
  background-image: url(../../assets/calendargif.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

select {
  margin: 1.25rem; /* 20px */
  border: 0.0625rem solid rgb(100, 21, 3); /* 1px */
  border-radius: 0.3125rem; /* 5px */
  margin-inline: 1.25rem; /* 20px */
}

.custom-option {
  padding: 0.625rem; /* 10px */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.custom-option:hover {
  background-color: #007bff;
  color: #fff;
}

select:hover {
  border: 0.125rem solid royalblue; /* 2px */
}

.year-month {
  text-align: center;
  margin-top: 0.8125rem; /* 5% */
  margin-left: 0.3125rem; /* 2% */
  width: 30%; /* Keeping percentage */
}

.month-display {
  margin-top: 0.625rem; /* 4% */
  width: 40%; /* Keeping percentage */
  border: none;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.4375rem; /* 15px */
}

.day {
  padding: 0.625rem; /* 10px */
  border: 0.0625rem solid black; /* 1px */
  cursor: pointer;
  text-align: center;
  border-radius: 50%; /* 40% */
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #22d6ed;
}

.events-display {
  margin-top: 0.8125rem; /* 5% */
  width: 40%; /* Keeping percentage */
  margin-right: 0.3125rem; /* 5% */
}

.day.has-event {
  background-color: #56aade;
  color: white;
  font-weight: bold;
  border: 0.125rem solid rgb(3, 105, 239); /* 2px */
}

.event-item {
  width: 80%; /* Keeping percentage */
  padding: 0.625rem; /* 10px */
  border: 0.0625rem solid royalblue; /* 1px */
  margin-top: 0.3125rem; /* 5px */
  border-radius: 0.25rem; /* 4px */
  background-color: rgb(90, 122, 216);
  color: white;
}

.calhead {
  margin-bottom: 2rem;
  margin-top: 1.75rem;
  font-size: 1rem;
}

.event-item1 {
  width: 80%; /* Keeping percentage */
  padding: 0.625rem; /* 10px */
  border: 0.0625rem solid rgb(225, 65, 65); /* 1px */
  margin-top: 0.3125rem; /* 5px */
  border-radius: 0.25rem; /* 4px */
  background-color: rgb(199, 202, 210);
  color: rgb(0, 0, 0);
}

.yearh {
  margin-top: 1.75rem;
  margin-bottom: 2.375rem;
}

.eventsdis {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  font-size: 1rem;
}

@media (max-width: 48rem) {
  select {
    margin-block: 3px;
  }

  .calendar {
    height: 78vh;
  }

  .days-grid {
    gap: 0.125rem; /* 2px */
    padding-left: 0.525rem; /* 10px */
    margin-right: 1.25rem; /* 20% */
  }

  .calendar {
    flex-direction: column;
    padding: 0.525rem; /* 10px */
    margin: 0.8125rem; /* 5% */
    margin-top: 4rem; /* 25% */
    background-image: url(../../assets/mobilegif.gif);
  }

  .yearh {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .year-month,
  .month-display,
  .events-display {
    width: 100%; /* Keeping percentage */
  }

  .month-display {
    height: 50%; /* Keeping percentage */
    width: 100%; /* Keeping percentage */
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff; /* 20% */
  }

  .event-item,
  .event-item1 {
    width: 80%;
  }

  .select {
    padding: 0.1rem; /* 10px */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calhead {
    margin-top: 0.5rem; /* 1% */
    margin-bottom: 0.5rem; /* 1% */
    font-size: 1rem;
    text-align: center;
  }

  .events-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .days-grid {
    padding-left: 0;
    font-size: 0.5rem;
  }

  .vr {
    display: none;
    margin: 0;
  }
  .event-item {
    margin-top: 0.29rem; /* 5px */
  }
}

@media (max-width: 480px) {
  .day {
    padding: 0.2125rem; /* 5px */
    font-size: 0.775rem; /* 14px */
    background-image: none;
  }

  .days-grid {
    gap: 0.625rem; /* 10px */
  }
}
